.main-menu-container {
    display: grid;
    height: 100vh;
    grid-template-columns: 40% 60%;
    overflow: hidden;
}

.resto-logo {
    display: grid;
    place-items: center; 
    padding: 1rem 1rem;
    background-color: #111827;
}

.resto-logo img {
    width: 100%;
}
.welcome-tag{
    text-align: center; 
    color: #374152;
    
}
body {
    background-color: #F3F4F6;
    height: 100vh;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.containers {
    height: 100vh;
    width: 100%;
    display: flex;
}

.right-bar-items {
    width: auto;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 1fr 1fr 1fr;
    padding: 2rem ;
    border-radius: 0px;
    gap: 1rem;

}

.buttons {
    width: 100%;
    height: 100%;
    color: white;
    border: none;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 15px;
    background-color: #111827;
    border: 1px solid #111827

}

.buttons:hover {
    border: 1px solid aquamarine;
}

.buttons img {
    height: 80%;
    width: 80%;
    object-fit: contain;
}
.buttons i{
    font-size: 1.5rem;
}
.buttons i:hover{
    border: none;

}

