.container{
    background-color: white;
    height: 100vh;    display: flex;
    flex-direction: column;
}
.top-bar{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.go-back-table-name{
    display: flex;
    padding: 1rem;
}
.payments{
    margin: auto;
}
.payments h1{
    text-align: center;
    font-weight: 700;
}
.middle-bar{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    flex: 1;
}
.orders{
    display: flex;
    flex-direction: column;
}
.order{
    display: flex;
    padding: 1rem 2rem;
    justify-content: space-between;

}
.go-back button i {
    background-color: white;
}
.order-first-col{

}
.order-name{
    font-weight: 600;
}
.order-amount{
    color: rgb(107 114 128);
}
.order-price{
    color: rgb(107 114 128);
}
.payment-inputs{
    height: 10%;
    padding: 1rem 4rem;
}
.price-input{
    border: 2px solid aquamarine;
    border-radius: 16px;
}
.price-input h1{
    display: flex;
    justify-content: end;
    margin-right: 1rem;
}
.input-buttons{
}
.input-button-row{
    display: flex;
    gap: 0.5rem;
    margin: 0.5rem;
}
.calculator-button{
    width: 25%;
    text-align: center;
    border: 1px solid rgb(209 213 219);
    border-radius: 0.5rem;
}
.calculator-button button{
    font-size: 1.5rem;
    font-weight: 700;
}
.payment-methods{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px; 
}
.method{
    width: 100%;
    text-align: center;
    border: 1px solid rgb(209 213 219);
    background-color: orange;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: white;
}
.total-price span{
    color: #16A34A;
}
.payed-price span{
    color: #CA8A04;
}
.remaining-price span{
    color: #DC2626;
}
.payment-prices{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    padding: 1rem;
    color: #111827;
    font-weight: 700;
    font-size: 1.5rem;
}