.income-container{
    width: 100%;
}
.income-summary{
    display: flex;
    width: 100%;
}
.summary{
    border-radius: 1rem;
    width: 50%;
    margin-left: 1rem;
    margin-right: 1rem;
    background-color: white;
    margin-bottom: 1rem;
    padding: 1rem;
    color: black;
}
.summary-headers{
    color: black;
    font-size: 22px;
    margin-bottom:1rem !important;
}
.summary-data{
    font-weight: bold;
    margin-bottom:1rem !important;
}
.last-week-comp{
    display: flex;
    flex-direction: row;
    text-align: center;
    color: rgb(128, 125, 125);
}
.payment-methods{
    padding: 1rem;
    border-radius: 1rem;
    margin-right: 1rem;
    margin-left: 1rem;
    background-color: white;
    margin-bottom: 1rem;
}
.payment-method{
    background-color: white;
    padding: 1rem;
    border-radius: 15px;
    margin-bottom: 1rem !important;
    display: flex;
    justify-content: space-between ;
    color: black;
    border: 2px solid #F2F4F6;

}
.payment-amount{
    color: rgb(0, 255, 0);;
}
.action-buttons-container{
    padding: 0rem 1rem 0rem ;
}
.action-buttons-container button{
    width: 100%;
    font-size: 18px;
    font-weight: bold;
    color: white;
}
.action-buttons{
    display:grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    gap:2rem;
}
.calendar{
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    z-index: 1000;
    border: 1px solid black;
    padding: 1rem;
    background-color: white;
}

.detailed-income-container{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    z-index: 1000;
    border: 1px solid black;
    padding: 1rem;
    background-color: white;
    width: 20%;
    text-align: center;
}
.detailed-income-headers{
    display: flex;
    align-items: center;
}
.detailed-income-headers i{
    padding-left: 1rem;
    justify-content: center;
    align-items: center;
}
.detailed-income-headers h1{
    text-align: center;
    color: black;
}
.income-details{
    display: flex;
    flex-direction: column;
    border-bottom: 1px black solid;
}
.income-details p{
    display: flex;
    justify-content: space-between;
}
p span{
    font-weight: 700;
}
.payment-details{
    display: flex;
    flex-direction: column;
}
.payment-details p{
    display: flex;
    justify-content: space-between;
}
.calendar h1{
    text-align: center;
    margin-bottom: 0px;
    color: black;
}
.calendar-headers{
    display: flex;
}
.calendar-close{
    background-color: white;
}
.change-date-button{
    width: 100%;
    background-color: orangered;
    margin: 0px;
    margin-top: 1rem;
    color: white;
    font-size: 30px;
    font-weight: bold;
}
.react-calendar__tile--hasActive {
    background: white; 
}