.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

i{
    background-color: #272736;
    font-size: 30px;
}
button{
    width: 60px;
    height: 60px;
    margin: 10px;
    border: none;
    border-radius: 30px;
    background-color: white;
    color: black;
}
.buttons{
    display: flex;
    flex-direction: column; 
    align-items: center;
    gap: 10px;

}
.restopos{
    display: flex;
    height: 10%;
    justify-content: center;
    align-items: center;
    color: white;
}
.actionButtons{
    border: none;
    border-radius: 0;
    background-color: #272736;
    color: white;
}
.in-boxes{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.pin-container {
    display: block;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.pin-boxes {
    display: flex;
    gap: 10px;
}
.pin-box {
    display: flex;
    width: 50px;
    height: 50px;
    background-color: #e8e8e8;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;

}